.aboutwrapper {
    border: solid 2px #000000;
    border-radius: 40px;
    padding: 28px;

    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    cursor: default;
    transition: all 500ms ease-in-out 10ms;
}

.aboutwrapper:hover {
    background-color: rgba(86, 134, 225, 0.1);
    border-color: #09162e;
}

.aboutwrapper h3 {
    font-weight: 600;
    font-size: clamp(2em, 20%, 6rem);
    line-height: 60px;
    margin-block: 5px;
}

.aboutwrapper div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.aboutwrapper div > div {
    flex: calc(50% - 30px);
    flex-shrink: 1;
    flex-grow: 1;
}

.aboutwrapper div > div > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .aboutwrapper div {
        display: block;
    }
}

@media screen and (max-width: 786px) {
    .aboutwrapper h3, .aboutwrapper div > div > p {
        text-align: center;
    }

    
}