.projectitem-wrapper {
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 300ms ease-in-out 10ms;

    /* max-width: 437px; */
    width: calc(50% - 20px);
    /* max-height: 184px; */
    height: 100%;
}

.projectitem-wrapper > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 28px;
    overflow: hidden;
}

.project-details {
    max-width: 162px;
    width: 100%;
    word-wrap: break-word;
}

.project-img {
    /* flex-basis: 219px; */
    /* height: 100%; */
    align-self: center;
    overflow: hidden;
    /* filter: drop-shadow(0px 0px 10px #00000033); */
    /* border: solid 1px #09162e1e; */
    box-shadow: 0px 0px 2px #111111;
    border-radius: 16px;
    transition: all 0.5s ease-in-out 10ms;
}

.p-img {
    width: -webkit-fill-available;
    margin-bottom: -5px;
}

img {
    transition: all 800ms ease-in-out 10ms;
}

.projectitem-wrapper:hover .p-img {
    transform: scale(1.1);
}

.projectitem-wrapper:hover {
    background-color: rgba(86, 134, 225, 0.1);
}

h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

a, p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1290px) {
    .projectitem-wrapper {    
        max-width: 90%;
        max-height: 100%;
    }

    .projectitem-wrapper > a {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        gap: 10px;
        padding: 20px 28px;
        overflow: hidden;
    }

    .project-img {
        flex-basis: 100%;
        height: 100%;
    }
    
    .p-img {
        width: 100%;
    }
    
    .project-details {
        max-width: 100%;
        width: 100%;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 500px) {
    .projectitem-wrapper {
        flex-basis: 100%;
    }
}