.wrapper {
    /* margin-top: 30px;
    margin-bottom: 30px; */
    overflow-x: hidden;
    border-radius: 0px 16px 16px 0px;
    align-self: center;
}

.splide {
    width: auto;
}

.slide {
    /* padding: 0 0 0 30px; */
    min-width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 250px;
    height: 300px;
}

.carousel-text > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-text h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.carousel-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.carousel-text h3, .carousel-text p {
    margin: 0px;
}

.carousel-img {
    overflow: hidden;
}

.carousel-img > img {
    width: 100%;
}

/* custom css for splide css */

.splide__list {
    max-width: 600px;
    width: 590px;
}

/* .material-symbols-outlined {
    font-size: 40px;
    background: rgb(255 255 255 / 12%);
    border-radius: 50%;
    padding: 16px;
} */