.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-wrapper-line-one, .contact-wrapper-line-three {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.group-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 calc(50% - 20px);
}

.box {
    height: auto;
    flex: 1 1 120px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.box:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box:hover img {
    transform: scale(1.1);
}

.box img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.box p, .box h4 {
    margin-block: 6px;
    cursor: pointer;
}

.box h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.box p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.box a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* border: solid 1px #000000; */
    background-color: #000000;
    color: #ffffff;
    border-radius: 100px;
    padding: 2px 15px;
}

.contact-wrapper-line-two {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}

.showcase {
    display: flex;
    /* width: calc(49% - 10px);
    max-width: 450px; */
    /* width: auto;
    max-width: 80vw; */
    height: auto;
    padding: 0px 20px;
    box-sizing: border-box;
    flex-basis: calc(50% - 40px);
    max-width: calc(50% - 40px);
    overflow: hidden;
    background: rgba(86, 134, 225, 0.1);
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 800ms ease-in 10ms;
}

.showcase:hover {
    background-color: #ffffff;
}

.showcase, .contact-showcase-right {
    flex-basis: calc(50% - 10px);
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(50% - 10px);
}

.contact-showcase-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width: 900px) {
    .contact-wrapper-line-two {
      flex-wrap: wrap;
      max-width: 90vw;
    }
  
    .contact-showcase-right, .showcase {
      flex-basis: 100%;
      max-width: 100%;
    }

    .showcase {
        padding: 0;
    }
  
}

.contact-showcase-line {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width: 500px) {
    .group-box {
        flex: none;
    }

    .contact-wrapper-line-one, .contact-wrapper-line-three {
        display: block;
    }

    .group-box {
        margin-block: 20px;
    }

    .contact-wrapper {
        gap: 0px;
    }

}

/* @media only screen and (max-width: 767px) {
    .contact-wrapper {
        gap: 0px;
    }
} */

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .contact-wrapper-line-two {
        flex-wrap: wrap;
        max-width: 55vw;
      }
    
      .contact-showcase-right {
        flex-basis: 100%;
        max-width: 100%;
      }
    
      .showcase {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
      }
  }
  

/* specify the box colors */

.twitter {
    background: rgba(86, 134, 225, 0.2);
}

.twitter:hover {
    background: rgba(86, 134, 225, 0.1);
}

.twitter a {
    background: #5686E1;
}

.linkedin {
    background: rgba(10, 102, 194, 0.2);
}

.linkedin:hover {
    background: rgba(10, 102, 194, 0.1);
}

.linkedin a {
    background: #0A66C2;
}

.insta {
    background: rgba(252, 175, 69, 0.2);
}

.insta:hover {
    background: rgba(252, 175, 69, 0.1);
}

.insta a {
    background: #FCAF45;
    color: #000000;
}

.gmail {
    background: rgba(219, 50, 54, 0.2);
}

.gmail:hover {
    background: rgba(219, 50, 54, 0.1);
}

.gmail a {
    background: #DB3236;
}

.discord {
    background: rgba(114, 137, 218, 0.2);
}

.discord:hover {
    background: rgba(114, 137, 218, 0.1);
}

.discord a {
    background: #7289DA;
    color: #000000;
}

.telegram {
    background: rgba(0, 136, 204, 0.2);
}

.telegram:hover {
    background: rgba(0, 136, 204, 0.1);
}

.telegram a {
    background: #0088CC;
}

.whatsapp {
    background: rgba(37, 211, 102, 0.2);
}

.whatsapp:hover {
    background: rgba(37, 211, 102, 0.1);
}

.whatsapp a {
    background: #25D366;
    color: #000000;
}

