.mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    margin: 0px auto;
    width: 90%;
    background-color: rgba(86, 134, 225, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 99px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 1px #111111;
    transition: all 100ms ease-in-out 10ms;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}

/* .mobile-menu.open {
    bottom: 0;
} */

.mobile-menu  a {
    flex-basis: 80px;
    transition: all 300ms ease-in-out 10ms;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in-out 10ms;
}

.menu-item-name {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    height: 0px;
    transition: all 300ms ease-in-out;
}

.menu-item:hover .menu-item-name {
    height: 100%;
}

.mobile-menu > a.active .menu-item-name {
    height: 100%;
}

a {
    transition: all 400ms ease-in-out;
}

a.active {
    border-bottom: 2px solid #09162e;
    padding: 5px 1px;
    transform: translate(0px, -5px);
}

svg {
    width: 24px;
    height: 24px;
    transition: all 300ms ease-in-out 10ms;
}

a.active > .menu-item > svg, a.active > .menu-item > .menu-item-name {
    color: #09162e;
}


@media only screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}