.side-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    max-width: 30vw;
    min-width: 30vw;
    height: 100vh;
    background-color: rgba(86, 134, 225, 0.1);
    padding: 3%;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25),  inset -5px 0px 25px -10px rgba(0,0,0,0.7);
    -webkit-box-shadow:  inset -5px 0px 25px -10px rgba(0,0,0,0.7);
    -moz-box-shadow:  inset -5px 0px 25px -10px rgba(0,0,0,0.7);
    box-sizing: border-box;
}

h1 {
    font-size: 1.6em;
    font-weight: 600;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}

.space {
    margin: 40px 0px;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

a {
    color: #000000;
    text-decoration: none;
}

.btn, .btn-wrapper > a {
    font-size: 0.8em;
    border: solid 1px #000000;
    border-radius: 100px;
    padding: 12px 30px;
    transition: all 300ms ease-in-out 10ms;
}

.btn-wrapper > a:hover {
    background-color: #0A66C2;
    color: #ffffff;
    border-color: #0A66C2;
}

.active-btn {
    background-color: #09162e;
    color: #ffffff;
    border-color: #09162e;
}

.foot {
    margin-top: 50px;
    display: block;
    line-height: 30px;
}

@media only screen and (max-width: 767px) {
    .side-bar {
        position: relative;
        max-width: 100vw;
        height: auto;
        padding: 10% 3%;
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25),  inset -5px 0px 25px -10px rgba(0,0,0,0.7);
        -webkit-box-shadow:  inset 0px -5px 15px -12px rgba(0,0,0,0.7);
        -moz-box-shadow:  inset -5px 0px 25px -10px rgba(0,0,0,0.7);
    }
}