.main {
  display: flex;
  gap: 0px;
}

.contents {
  max-width: calc(70vw - 5%);
  /* background-color: #777777; */
  padding: 3% 5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .main {
    display: block;
  }

  .contents {
    max-width: 100vw;
    width: auto;
    padding: 10% 3%;
    padding-bottom: 80px;
  }
}